<a href="https://colab.research.google.com/github/mahadyalhady/Python/blob/master/Copy_of_B1_CT_3_18101072.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1
n=int(input())
sum=0
a=1
for i in range(1,n+1):
  if i==n:
    print(a)
  else:
    sum=sum+a
    print(a,'+',end=' ')
    a+=2

print('\nSum=',sum)

10
1 + 3 + 5 + 7 + 9 + 11 + 13 + 15 + 17 + 19

Sum= 81

In [ ]:
#2
s1={'id':1,
    'first name':'Peter',
    'last name':'Lee',
    'email':'plee@university.edu',
    'year of birth':1992

    
}

s2={'id':2,
    'first name':'jonathan',
    'last name':'Edward',
    'email':'jedwards@university.edu',
    'year of birth':1994

    
}

s3={'id':3,
    'first name':'Marilyn',
    'last name':'Johnson',
    'email':'mjohnson@university.edu',
    'year of birth':1993

    
}

s4={'id':4,
    'first name':'Joe',
    'last name':'Kim',
    'email':'jkim@university.edu',
    'year of birth':1992

    
}

In [ ]:
student={
    1:s1,
    2:s2,
    3:s3,
    4:s4
}

for i in student:
  print(student[i]['first name'])

Peter
jonathan
Marilyn
Joe

In [ ]:
student=[s1,s2,s3,s4]
for i in student:
  print(i['first name'])

Peter
jonathan
Marilyn
Joe